:root {
    --clr-green-dark: #23424A;
    --clr-green-light: #136C72;
    --clr-green-bright: #38CFD9;
    --clr-purple: #87629A;
    --clr-white: #fff;

    --fw-bold: 700;
    --fw-regular: 400;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


/* utility */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}


/* main settings */
body {
    font-family: "Roboto", sans-serif;
    font-size: 1.3125rem;
}

.header {
    background-color: var(--clr-green-light);
}

.nav {
  padding: 1em 0;
}

.logo {
  width: 15%;
  max-width: 75px;
  margin: 0 auto;

  margin-bottom: 0.5em;
}

.nav__links-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.nav__link {
    color: var(--clr-white);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.nav__link--btn {
  background-color: var(--clr-white);
  color: var(--clr-green-light);
  padding: 0.25em 0.75em;
  border-radius: 100px;
  display: inline-block;
}

a:is(:hover, :focus) {
  opacity: 0.75;
}

.hero {
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  padding: 5em 0;
}

.hero__title {
  font-size: 3rem;
  line-height: 1.1;

  margin-bottom: 1em;
}

.desc {
  margin-bottom: 2em;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--clr-green-dark);
  background-color: var(--clr-green-bright);
  cursor: pointer;
  padding: 0.5em 2em;
  border-radius: 100px;
  display: inline-block;

  margin-bottom: 2em;
}

.main {
  padding: 3em 0;
}

.main__title {
  color: var(--clr-purple);
  line-height: 1.1;

  margin-bottom: 1em;
}

.main__desc {
  margin-bottom: 1em;
}

.side-bar {
  background-color: var(--clr-green-light);
  color: var(--clr-white);
  text-align: center;
  padding: 1em 2em;
}


/* media queries */
@media (max-width: 450px) {
  .nav__links-box {
    flex-direction: column;
    gap: 0.1em;
  }
}

@media (min-width: 800px) {
  /* utility */
  .row {
    display: flex;
    justify-content: space-between;
  }

  /* main settings */
  .logo {
    margin: 0;
  }

  .nav__links-box {
    width: calc(100% - 75px);
    justify-content: space-between;
  }

  .nav__links--primary {
    margin: 0 auto;
  }
  .hero__img {
    align-self: flex-start;
    width: 32%;
  }

  .hero__text,
  .main__text {
    width: 62%;;
  }

  .side-bar {
    width: 32%;
  }

}